body {
    margin: 0;
    background-color: rgb(40, 5, 60);
}
#text{
   
    margin-left: 0px;
    margin-right: 0px;
    width: 90%;
    height: 50%;
   

}

input[type='button']{
   background-color: rgb(249, 251, 249);
   color: rgb(0, 0, 0);
   font-weight: 200;
   border: 0;
   outline: 0;
   width: 30px;
   height: 25px;
   border-radius: 5px;
   box-shadow: 2px 2px 3px 0.5px rgb(198, 198, 198);
   cursor: pointer;
   }



  
   
 
   

   


input[type='text']{
    color: black;
    background-color: rgb(255, 255, 255);
    
    border: 0;
    outline: 0;
    display: flex;
    border-radius: 5px;
    box-shadow:inset -1px -1px rgb(230, 229, 229);

   

  
    
    
    
}

div{
    border: 2px solid rgb(255, 255, 255);
    width: 28%;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    margin:auto;
    
    
}

#equal {
   background-color: rgb(84, 2, 155);
   color: white;
   border: 1px solid rgb(104, 0, 202);
   border-radius: 5px;
   width: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
  
   font-size: xx-small;
   font-weight: bold;
   height: 20px;
}

#x{
   background-color:rgb(238, 226, 238);
   border: none;
   outline: none;
   color: rgb(134, 4, 255);
   font-size: xx-small;
   border-radius: 5px;
   width: 30px;
   height: 25px;
   font-weight: bold;
  
  
}


#minus,#divide{
    
   background-color:rgb(238, 226, 238);
   border: none;
   outline: none;
  color: rgb(134, 4, 255);
   font-size: xx-small;
   border-radius: 5px;
   width: 30px;
   height: 25px;
   font-weight: bold;
  
}
#plus {
 background-color:rgb(238, 226, 238);
   border: none;
   outline: none;
  color: rgb(134, 4, 255);
   font-size: xx-small;
   border-radius: 5px;
   width: 30px;
   height: 25px;
   font-weight: bold;
  
}
#clear{
    color: red;
    background-color: rgb(254, 214, 214);
    font-weight: bold;
    font-size: xx-small;
}

label{
   
  display: grid;                  
  grid-template-columns: repeat(4, 20%);
  gap: 4px;                     
}

